<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
</style>

<!--<h3 style="padding: 20px">Amazon Products</h3>-->
<!--div class="col-md-12">
  <div class="row">
    <div class="col-md-2 col-sm-6" *ngFor="let p of amazonProducts" style="width: 200px;">
      <div class="card my-2">
          <a href="{{p.URL}}" target="_blank">
              <img [src]="p.image" alt="{{p.title}}" class="card-img-top" style="cursor:pointer;">
              <div class="card-header">
                  <div class="card-title">
                  <p>{{p.title}}</p>
                  </div>
              </div>
          </a>
        <div class="card-body">

          <p class="lead">Older price: <strike>{{p.olderPrice}}</strike></p>
          <p class="lead">Current price: {{p.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div-->
<!--<h3 style="padding: 20px">NewEgg Products</h3>-->
<!--div class="col-md-12">
    <div class="row">
      <div class="col-md-2 col-sm-6" *ngFor="let p of newEggProducts" style="width: 200px;">
        <div class="card my-2">
            <a href="{{p.URL}}" target="_blank">
                <img [src]="p.image" alt="{{p.title}}" class="card-img-top" style="cursor:pointer;">
                <div class="card-header">
                    <div class="card-title">
                    <p>{{p.title}}</p>
                    </div>
                </div>
            </a>
          <div class="card-body">
            <p class="lead">Older price: <strike>{{p.olderPrice}}</strike></p>
            <p class="lead">Current price: {{p.price}}</p>
          </div>
        </div>
      </div>
    </div>
</div-->
<h1 style="padding: 20px">GPU Benchmarks</h1>

<div *ngFor="let gpu of gpuBenchmarks">
  <h3 style="padding: 20px">{{gpu.nombre}} ({{gpu.puntuacion}})</h3>

  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-2 col-sm-6" style="width: 200px;" *ngFor="let x of gpu.articulos_gpus">
        <div class="card my-2">
          <a [href]= "x.url_gpu" target="_blank">
            <img [src]="x.url_img" alt="Imagen" class="card-img-top" style="cursor:pointer;">
            <div class="card-header">
              <div class="card-title">
                <p>{{x.nombre}}</p>
                <p>Arquitectura: {{gpu.arquitectura}}, Cores: {{gpu.cores}}, Base Boost: {{gpu.baseBoost}}
                TDP: {{gpu.tdp}}</p>
              </div>
            </div>
          </a>
          <div class="card-body">
            <h3>Precio:</h3>
            <h3 >${{x.historial[getLength(x.historial)].precio}}</h3>
            <p>Última consulta: {{x.historial[getLength(x.historial)].fecha}}</p>
            <p *ngIf="x.historial[0].in_stock === true">Disponible</p>
            <p *ngIf="x.historial[0].in_stock === false">Agotado</p>
          </div>

          <div class="card-footer">
            <div>
              <img src="https://cdn.iconscout.com/icon/free/png-256/amazon-1869030-1583154.png"
                   alt="Amazon" width="60" height="60" *ngIf="x.tienda.id == 1" class="fa-navicon">
              <img src="https://www.userlogos.org/files/logos/jumpordie/newegg_01.png"
                   alt="NewEgg" width="80" height="60" *ngIf="x.tienda.id == 2">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 style="padding: 20px">CPU Benchmarks</h1>

<br class="dropdown-divider">

<div *ngFor="let cpu of cpuBenchmarks">
  <h3 style="padding: 20px">{{cpu.nombre}}</h3>

  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-2 col-sm-6" style="width: 200px;" *ngFor="let x of cpu.articulos_cpus">
        <div class="card my-2">
          <a [href]= "x.url_cpu" target="_blank">
            <img [src]="x.url_img" alt="Imagen" class="card-img-top" style="cursor:pointer;">
            <div class="card-header">
              <div class="card-title">
                <p>{{x.nombre}}</p>
                <p>Arquitectura: {{cpu.arquitectura}}, Cores: {{cpu.cores}}, Base Boost: {{cpu.baseBoost}}
                  TDP: {{cpu.tdp}}</p>
              </div>
            </div>
          </a>
          <div class="card-body">
            <h3>Precio:</h3>
            <h3>${{x.historial[getLength(x.historial)].precio}}</h3>
            <p>Última consulta: {{x.historial[getLength(x.historial)].fecha}}</p>
            <p *ngIf="x.historial[0].in_stock === true">Disponible</p>
            <p *ngIf="x.historial[0].in_stock === false">Agotado</p>
          </div>
          <div class="card-footer">
            <div>
              <img src="https://cdn.iconscout.com/icon/free/png-256/amazon-1869030-1583154.png"
                   alt="Amazon" width="60" height="60" *ngIf="x.tienda.id == 1" class="fa-navicon">
              <img src="https://www.userlogos.org/files/logos/jumpordie/newegg_01.png"
                   alt="NewEgg" width="80" height="60" *ngIf="x.tienda.id == 2">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




