<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
</style>

<!--<h3 style="padding: 20px">Amazon Products</h3>-->
<!--div class="col-md-12">
  <div class="row">
    <div class="col-md-2 col-sm-6" *ngFor="let p of amazonProducts" style="width: 200px;">
      <div class="card my-2">
          <a href="{{p.URL}}" target="_blank">
              <img [src]="p.image" alt="{{p.title}}" class="card-img-top" style="cursor:pointer;">
              <div class="card-header">
                  <div class="card-title">
                  <p>{{p.title}}</p>
                  </div>
              </div>
          </a>
        <div class="card-body">

          <p class="lead">Older price: <strike>{{p.olderPrice}}</strike></p>
          <p class="lead">Current price: {{p.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div-->
<!--<h3 style="padding: 20px">NewEgg Products</h3>-->
<!--div class="col-md-12">
    <div class="row">
      <div class="col-md-2 col-sm-6" *ngFor="let p of newEggProducts" style="width: 200px;">
        <div class="card my-2">
            <a href="{{p.URL}}" target="_blank">
                <img [src]="p.image" alt="{{p.title}}" class="card-img-top" style="cursor:pointer;">
                <div class="card-header">
                    <div class="card-title">
                    <p>{{p.title}}</p>
                    </div>
                </div>
            </a>
          <div class="card-body">
            <p class="lead">Older price: <strike>{{p.olderPrice}}</strike></p>
            <p class="lead">Current price: {{p.price}}</p>
          </div>
        </div>
      </div>
    </div>
</div-->
<h2 style="padding: 20px">CPU Benchmarks</h2>

<div *ngFor="let cpu of cpuBenchmarks">
  <h3 style="padding: 20px">{{cpu.nombre}}</h3>
  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-2 col-sm-6" style="width: 200px;" *ngFor="let x of cpu.data">
        <div class="card my-2">
          <a href="" target="_blank">
            <img [src]="x.url" alt="Imagen" class="card-img-top" style="cursor:pointer;">
            <div class="card-header">
              <div class="card-title">
                <p>{{x.processor}}</p>
                <p> GS1080p: {{x.gs1080}}, Family: {{x.family}}, Base Boost: {{x.baseBoost}},
                  Memory: {{x.memory}},Power: {{x.power}} </p>
              </div>
            </div>
          </a>
          <div class="card-body">
            <p class="lead"> Amazon $300</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 style="padding: 20px">GPU Benchmarks</h2>
<div *ngFor="let cpu of cpuBenchmarks">
  <h3 style="padding: 20px">{{cpu.nombre}}</h3>
  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-2 col-sm-6" style="width: 200px;" *ngFor="let x of cpu.data">
        <div class="card my-2">
          <a href="" target="_blank">
            <img [src]="x.url" alt="Imagen" class="card-img-top" style="cursor:pointer;">
            <div class="card-header">
              <div class="card-title">
                <p>{{x.processor}}</p>
                <p> GS1080p: {{x.gs1080}}, Family: {{x.family}}, Base Boost: {{x.baseBoost}},
                  Memory: {{x.memory}},Power: {{x.power}} </p>
              </div>
            </div>
          </a>
          <div class="card-body">
            <p class="lead">Test</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



