<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }

    .site-footer
    {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    }
    .site-footer hr
    {
    border-top-color:#bbb;
    opacity:0.5
    }
    .site-footer hr.small
    {
    margin:20px 0
    }
    .site-footer h6
    {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
    }
    .site-footer a
    {
    color:#737373;
    }
    .site-footer a:hover
    {
    color:#3366cc;
    text-decoration:none;
    }
    .footer-links
    {
    padding-left:0;
    list-style:none
    }
    .footer-links li
    {
    display:block
    }
    .footer-links a
    {
    color:#737373
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover
    {
    color:#3366cc;
    text-decoration:none;
    }
    .footer-links.inline li
    {
    display:inline-block
    }
    .site-footer .social-icons
    {
    text-align:right
    }
    .site-footer .social-icons a
    {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
    }
    .copyright-text
    {
    margin:0
    }
    @media (max-width:991px)
    {
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
    }
    @media (max-width:767px)
    {
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
    }
    .social-icons
    {
    padding-left:0;
    margin-bottom:0;
    list-style:none
    }
    .social-icons li
    {
    display:inline-block;
    margin-bottom:4px
    }
    .social-icons li.title
    {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
    }
    .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
    }
    .social-icons a:active,.social-icons a:focus,.social-icons a:hover
    {
    color:#fff;
    background-color:#29aafe
    }
    .social-icons.size-sm a
    {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
    }
    .social-icons a.facebook:hover
    {
    background-color:#b8b8b8
    }
    .social-icons a.twitter:hover
    {
    background-color:#00aced
    }
    .social-icons a.linkedin:hover
    {
    background-color:#007bb6
    }
    .social-icons a.dribbble:hover
    {
    background-color:#ea4c89
    }
    @media (max-width:767px)
    {
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
    }
</style>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <h6>About</h6>
          <p class="text-justify">
            <strong>Instituto Tecnológico de Costa Rica</strong><br>
            Curso de Principios de Sistemas Operativos<br>
            <i>Multicore Project</i><br>
            The project consists in the development of one application using multicore/multi-thread (first parallelism level), that makes a "Sales" scrapping of computer parts or similars that are offered in Amazon.com and NewEgg.com. The app also makes another scrapping from other websites (second parallelism level) to get benchmark information about some popular computer components as Graphic Cards(GPU) and Processors(CPU), on the server level the app extracts this data using multicore and then returns data.
            Finally the whole system has a front-end web app actually hosted in a web page, where all users can check the data got from scrapping this websites. All Sales and benchmark information is shown in this front page.
            Server level app also has all of this requests with and without parallelism.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="https://cli.angular.io">Angular</a></li>
            <li><a href="https://nodejs.org/es/">NodeJS</a></li>
            <li><a href="https://expressjs.com/es/">ExpressJS</a></li>
            <li><a href="https://github.com/puppeteer/puppeteer">Puppeteer</a></li>
            <li><a href="https://www.heroku.com">Heroku</a></li>
          </ul>
        </div>

        <!-- <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div> -->
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Danilo Chaves - Leonardo Lizano.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a title="Back-end" class="facebook" href="https://github.com/raime1/MulticoreWebscraperJS"><i class="fa fa-github"></i></a></li>
            <li><a title="Front-end" class="facebook" href="https://github.com/LizanoLeo123/WebScrapperFront"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
